<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Academy.listeners"/>
<listener class-name="resources.ExtentReporterNG"/>
</listeners>
  <test  name="validateNavigationBarTest">
    <classes>
      <class name="Academy.validateNavigationBar"/>
       </classes>
       </test>
      
       
       <test  name="HomePageTest">
       <classes>
      <class name="Academy.HomePage"/>
      </classes>
      </test>
      
      <test  name="validateTitleTest">
      <classes>
      <class name="Academy.validateTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
